# Node
node_modules/
npm-debug.log
yarn-error.log

# Dist
/dist
/out-tsc

# Angular
/.angular
/dist

# IDEs
.vscode
.idea
*.swp
*.swo
*~
.DS_Store

# Environment
.env
.env.local

# Build artifacts
.cache
